@charset "utf-8";a,article,aside,body,button,dd,details,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,li,menu,nav,ol,p,section,select,table,tbody,td,textarea,th,tr,ul{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body,html{width:100%}
.wrap-for-s{background:#f2f2f2;padding:20px 0 20px 0}
.dyn-nav-for-s{width:1200px;margin:0 auto;margin-bottom:20px; color:#454545;}
.dyn-nav-for-s blockquote{background:#fff;border-left:5px solid #c33;font-size:14px}
a.banner_box{display:block;height:300px}
header{background-color:#fff;min-width:1200px}
.page-pl{padding-left:190px}
.headertop{width:100%;background:#fafafa;border-bottom:1px solid #fff;color:#454545;}
.headertop .layui-container .layui-row a,.headertop .layui-container .layui-row span{line-height:35px;color:#e2e2e2;margin-right:30px;padding:5px 0}
.headertop .layui-container .layui-row .text-right a.account_icon{padding-left:35px;background-image:url(/p/images/member/account_icon.png);background-position:left center;background-repeat:no-repeat}
.headertop .layui-container .layui-row .text-right a.task_icon{padding-left:25px;background-image:url(/p/images/member/task_icon.png);background-position:left center;background-repeat:no-repeat}
.headertop .layui-container .layui-row .text-right a.publish_icon{padding-left:25px;background-image:url(/p/images/member/publish_icon.png);background-position:left center;background-repeat:no-repeat}
.headertop .layui-container .layui-row .text-right span.call_icon{padding-left:25px;background-image:url(/p/images/member/call_icon.png);background-position:left center;background-repeat:no-repeat}
.headertop .layui-container .layui-row a:last-child,.headertop .layui-container .layui-row span:last-child{margin-right:0}
.headertop .layui-container .layui-row a:hover{color:#FFB800}
.all-region{height:40px;line-height:20px;font-size:16px;color:#000;border-left:1px solid #e9e9e9;display:inline-block;margin-left:15px;padding-left:15px;padding-top:10px;padding-bottom:10px;margin-top:20px}
.htx-nav{width:100%;background:#e4393c}
.htx-nav .layui-nav{background:#e4393c}
.htx-nav .layui-nav .layui-nav-item{width:142px}
.htx-nav .layui-nav .layui-nav-item>a{font-size:18px;text-align:center;color:#fff}
.htx-nav .layui-nav .layui-this:after,.layui-nav-bar,.layui-nav-tree .layui-nav-itemed:after{background-color:#FFB800}
.current-location{width:1200px;padding:0 15px;height:45px;line-height:45px;position:relative;margin:0 auto}

.layui-main > .layui-row .reportbox{border:1px solid #eaeaea;min-height:450px;border-radius:3px;background:#fff;padding:15px}
.layui-main > .layui-row .reportbox>a:first-child{display:block;border:1px solid #fff}
.layui-main > .layui-row .reportbox .img-responsive{max-width:100%;height:auto;display:block}
.layui-main > .layui-row .reportbox h3{margin:15px 0;color:#454545;font-size:18px;text-align:center}
.layui-main > .layui-row .reportbox p{color:#454545;line-height:28px}
.layui-main > .layui-row .reportbox>a:last-child{margin-top:20px;display:block;width:120px;height:38px;line-height:38px;text-align:center;color:#8071b2;border:1px solid #8071b2;border-radius:3px}
.layui-main > .layui-row .reportbox>a:hover{color:#FF5722;border:1px solid #FF5722}
.layui-main .main-left{width:880px;background-color:#fff;float:left}
.layui-main .box{padding:30px 15px;background-color:#fff}
.layui-main .box>ul>li{width:375px;margin-right:20px;padding-bottom:30px;float:left}
.layui-main .box>ul>li:nth-child(3n){margin-right:0}
.layui-main .box>ul>li em{display:block;width:375px;position:relative}
.layui-main .box>ul>li em img{display:block;width:375px;height:250px;margin:auto}
.layui-main .box>ul>li em i{display:block;width:59px;height:50px;vertical-align:middle;text-align:center;background-image:url(/p/images/help/timer.png);background-position:center center;background-repeat:no-repeat;position:absolute;top:0;right:10px;padding-top:5px}

.layui-main .boxwrap{padding:10px 10px; background-color:#fff}
.layui-main .boxwrap .layui-row{padding:30px 15px;background-color:#fff}
.layui-main .boxwrap .layui-row .reportbox2{ min-height:450px; background:#fff; border:1px solid #eaeaea;}
.layui-main .boxwrap .layui-row .reportbox2>a:first-child{display:block; position:relative; border:1px solid #fff}
.layui-main .boxwrap .layui-row .reportbox2>a:first-child i{display: block; width:59px; height:50px; vertical-align:middle; text-align:center; background-image:url(/p/images/help/timer.png); background-position:center center; background-repeat: no-repeat; position:absolute; top:-3px; right: 10px;  padding-top:5px;}

.layui-main .boxwrap .layui-row .reportbox2 .img-responsive{max-width:100%;height:auto;display:block;}
.layui-main .boxwrap .layui-row .reportbox2 .rbox2{ padding:0px 10px; }
.layui-main .boxwrap .layui-row .reportbox2 .rbox2 h3{margin:15px 0;color:#454545;font-size:16px;}
.layui-main .boxwrap .layui-row .reportbox2 .rbox2 p{color:#454545;line-height:28px}
.layui-main .boxwrap .layui-row .reportbox2 .rbox2 > a{margin-top:20px;display:block;width:120px;height:38px;line-height:38px;text-align:center;color:#8071b2;border:1px solid #8071b2;border-radius:3px}
.layui-main .boxwrap .layui-row .reportbox2 .rbox2 >a:hover{color:#FF5722;border:1px solid #FF5722}


.layui-main .box>ul>li h3{display:block;width:100%;height:50px;line-height:50px;font-size:16px;border-bottom:solid 1px #e9e9e9;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.layui-main .box>ul>li p{line-height:20px;padding-bottom:15px;height:70px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.layui-main .box>ul>li a.more-text{display:inline-block;color:#ffa200;border:solid 1px #ffa200;padding:2px 4px;font-size:14px;border-radius:2px}
.layui-main .main-right{width:301px;float:right}
.layui-main .main-right .top-ads{height:219px;position:relative;background-color:#fff}
.layui-main .main-right .top-ads .big-ads{display:block;width:301px;height:219px;position:absolute;top:0;left:0;z-index:0}
.layui-main .main-right .top-ads .small_erweima{display:block;width:126px;height:126px;position:absolute;top:30px;right:11px}
.layui-main .main-right .contact_info{background-color:#fff;padding-top:23px;padding-left:24px;padding-right:24px}
.layui-main .main-right .contact_info ul li{width:100%;border-bottom:solid 1px #e9e9e9}
.layui-main .main-right .contact_info ul li:first-child+li{border-bottom:none;padding-top:23px;padding-bottom:20px}
.contact_info ul li .call-icon{width:80px;height:58px;float:left}
.contact_info ul li .call-icon>img{margin:auto}
.contact_info ul li .call-icon>img.icon_qq{margin-left:18px}
.contact_info ul li .call-text{float:left;padding-left:10px}
.contact_info ul li .call-text p{padding-bottom:2px}
.contact_info ul li .call-text h3{font-size:22px; color:#454545; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; padding-bottom:15px}
.layui-main .main-right .htx-promise{margin-top:20px;background-color:#fff}
.layui-main .main-right .htx-promise>h3{height:56px;line-height:56px; text-align:center; border-bottom:solid #f5f5f5 1px;}
.layui-main .main-right .htx-promise ul li{border-bottom:solid #f5f5f5 1px;padding:14px 0}
.layui-main .main-right .htx-promise ul li em{display:block;width:75px;float:left}
.htx-promise ul li em img{margin:auto}
.layui-main .main-right .htx-promise ul li span{display:block;float:left;line-height:32px}
.htx-ads{margin-top:20px}
.main-left .industry_box{background-color:#fff; padding:0px 30px;}
.main-left .industry_box>h3{height:60px;line-height:60px;border-bottom:solid 1px #eaeaea;}
.main-left .industry_box>h3>b{font-size:20px;color:#454545; font-weight:normal;}
.main-left .industry_box>h3>span{font-size:16px; color:#cc3333;}
.main-left .industry_list{padding:0 30px 30px 30px}
.main-left .industry_list>ul li{width:100%;padding:15px 0;border-bottom:solid 1px #ebebeb}
.industry_list>ul li > a{display:block;width:225px;height:150px; border:1px solid #eaeaea; float:left}
.industry_list>ul li > a:hover{border:1px solid #FF5722;}
.industry_list>ul li > a img{display:block;width:223px;height:148px}

.industry_list>ul li .link-text{width:590px;float:left;padding-left:20px}
.industry_list>ul li .link-text>h3{text-align:right;line-height:40px;font-size:18px;font-weight:400;color:#454545}
.industry_list>ul li .link-text>p{text-indent:2em;line-height:28px;font-size:14px;color:#454545}


.main-left .notices_list{padding:0 30px 30px 30px}
.main-left .notices_list>ul li{padding:10px 0;border-bottom:solid 1px #ebebeb}
.main-left .notices_list>ul li h3{line-height:32px;font-size:16px;font-weight:400;color:#454545}
.main-left .notices_list>ul li .time-link{padding-top:5px}
.main-left .notices_list>ul li .time-link>span{display:inline-block;float:left;background-repeat:no-repeat;background-position:left center; color:#cc3333}
.main-left .notices_list>ul li .time-link>span i{font-size:16px;color:#cc3333}
.main-left .notices_list>ul li .time-link>a{display:inline-block;color:#8071b2;border:solid 1px #8071b2;padding:3px 14px; font-size:14px; border-radius:2px; float:right; position:relative; top:-8px;}
.main-left .notices_list>ul li .time-link>a:hover{color:#FF5722;border:solid 1px #FF5722;}


.main-left .industry_box2{background-color:#fff; color:#454545; padding:20px 30px 0px 30px}
.main-left .industry_box2 h1{padding:0 30px; height:50px;line-height:50px; font-size:20px; text-align:center; }
.main-left .industry_box2 h2{ font-size:18px; color:#cc3333; text-align:center; }
.main-left .industry_box2 > p{ color:#8071b2; text-align:center;}
.main-left .industry_box2 > p span:nth-child(1){ float:left; }
.main-left .industry_box2 > p span:nth-child(2) b{ color:#cc3333; font-weight:normal; }
.main-left .industry_box2 > p span:nth-child(2) a{ color:#01AAED; }
.main-left .industry_box2 > p span:nth-child(2) a:hover{ color:#FF5722; }
.main-left .industry_box2 > p span:nth-child(3){ float:right; }
.main-left .industry_box2 .maincontentbox{ padding:30px 0px; }
.main-left .industry_box2 .maincontentbox p{ line-height:30px; font-size:16px; }
.main-left .industry_box2 .maincontentbox > p{ text-indent:2em; }
.main-left .industry_box2 .maincontentbox img{ display:block; max-width:100%; height:auto; margin:10px auto; }

.layui-main > .main-left > .spa-line{background:#f2f2f2; height:20px;}
.layui-main > .main-left > .relevant-news{ padding:20px 30px 10px 30px; font-size:18px; color:#454545; }
.layui-main > .main-left > .relevant-news i{font-size:26px; color:#cc3333; position:relative; top:3px;}
.layui-main > .main-left > .relevant-news span{ font-size:16px; color:#cc3333; }
.layui-main > .main-left > .layui-row-contact{ padding:0px 30px 30px 30px; }
.layui-main > .main-left > .layui-row-contact .reportbox2{ min-height:480px; background:#fff; border:1px solid #eaeaea;}
.layui-main > .main-left > .layui-row-contact .reportbox2>a:first-child{display:block; position:relative; border:1px solid #fff}
.layui-main > .main-left > .layui-row-contact .reportbox2>a:first-child i{display: block; width:59px; height:50px; vertical-align:middle; text-align:center; background-image:url(/p/images/help/timer.png); background-position:center center; background-repeat: no-repeat; position:absolute; top:-3px; right: 10px;  padding-top:5px;}
.layui-main > .main-left > .layui-row-contact .reportbox2 .img-responsive{max-width:100%;height:auto;display:block;}
.layui-main > .main-left > .layui-row-contact .reportbox2 .rbox2{ padding:0px 10px; }
.layui-main > .main-left > .layui-row-contact .reportbox2 .rbox2 h3{margin:15px 0;color:#454545;font-size:16px;}
.layui-main > .main-left > .layui-row-contact .reportbox2 .rbox2 p{color:#454545;line-height:28px}
.layui-main > .main-left > .layui-row-contact .reportbox2 .rbox2 > a{margin-top:20px;display:block;width:120px;height:38px;line-height:38px;text-align:center;color:#8071b2;border:1px solid #8071b2;border-radius:3px}
.layui-main > .main-left > .layui-row-contact .reportbox2 .rbox2 >a:hover{color:#FF5722;border:1px solid #FF5722}


.layui-main > .main-left > .industry_list_contact{padding:0 30px 10px 30px}
.layui-main > .main-left > .industry_list_contact > ul li{width:100%;padding:15px 0;border-bottom:solid 1px #ebebeb}
.layui-main > .main-left > .industry_list_contact > ul li > a{display:block;width:225px;height:150px; border:1px solid #eaeaea; float:left}
.layui-main > .main-left > .industry_list_contact > ul li > a:hover{border:1px solid #FF5722;}
.layui-main > .main-left > .industry_list_contact > ul li > a img{display:block;width:223px;height:148px}
.layui-main > .main-left > .industry_list_contact > ul li .link-text{width:590px;float:left;padding-left:20px}
.layui-main > .main-left > .industry_list_contact > ul li .link-text>h3{text-align:right;line-height:40px;font-size:18px;font-weight:400;color:#454545}
.layui-main > .main-left > .industry_list_contact > ul li .link-text>p{text-indent:2em;line-height:28px;font-size:14px;color:#454545}

.link-text .time-link{padding-top:20px}
.link-text .time-link>span{display:inline-block;float:left;background-repeat:no-repeat;background-position:left center; color:#cc3333}
.link-text .time-link>span i{font-size:16px;color:#cc3333}
.link-text .time-link>a{display:inline-block;color:#8071b2;border:solid 1px #8071b2;padding:4px 16px; font-size:14px; border-radius:2px; float:right}
.link-text .time-link>a:hover{color:#FF5722;border:solid 1px #FF5722;}


.layui-main > .main-left > .notices_list_contact{padding:0 30px 0px 30px}
.layui-main > .main-left > .notices_list_contact > ul li{padding:10px 0;border-bottom:solid 1px #ebebeb}
.layui-main > .main-left > .notices_list_contact > ul li .time-link{padding-top:5px}
.layui-main > .main-left > .notices_list_contact > ul li .time-link>span{display:inline-block;float:left;background-repeat:no-repeat;background-position:left center; color:#cc3333}
.layui-main > .main-left > .notices_list_contact > ul li .time-link>span i{font-size:16px;color:#cc3333}
.layui-main > .main-left > .notices_list_contact > ul li .time-link>a{display:inline-block;color:#8071b2;border:solid 1px #8071b2;padding:3px 14px; font-size:14px; border-radius:2px; float:right; position:relative; top:-8px;}
.layui-main > .main-left > .notices_list_contact > ul li .time-link>a:hover{color:#FF5722;border:solid 1px #FF5722;}



.layui-main .self-service-left{width:301px;float:left}
.self-service-left .callConsult{padding:22px;background-color:#fff}
.self-service-left>.layui-clear>.call-icon{display:block;width:80px;height:58px;padding-left:22px;float:left}
.self-service-left>.layui-clear>.call-text{float:left;padding-left:10px}
.self-service-left>.layui-clear>.call-text p{padding-bottom:2px}
.self-service-left>.layui-clear>.call-text h3{font-size:28px;font-family:'Impact Regular';color:#3e3e3e;padding-bottom:15px}
.self-service-left .bor_box{background-color:#fff;margin-top:20px}
.self-service-left .bor_box>h3{height:47px;line-height:47px;border-bottom:solid 1px #f5f5f5;padding-left:22px;font-size:16px;font-weight:700;color:#282828}
.self-service-left .bor_box .help-list{padding:22px}
.self-service-left .bor_box .help-list ul li{height:30px;line-height:30px;overflow:hidden}

.bor_box .help-list ul li a{background:url(/p/images/libg.png) no-repeat 0 14px;display:inline-block;padding-left:15px;transition:all .3s ease 0s}
.bor_box .help-list ul li a:hover{background-position:0 -13px;color:#dd0b19}
.layui-main .self-service-right{width:880px;float:right}
.layui-main .self-service-right>.bar_title{height:70px;line-height:70px;background-color:#fff;border-bottom:solid 1px #f5f5f5;padding-left:30px;font-size:16px;font-weight:700;color:#333}
.layui-main .self-service-right .bar_box{background-color:#fff}
.bar_box ul li{width:293px;height:215px;padding:30px 20px 30px 20px;float:left;border-bottom:solid 1px #f5f5f5;border-right:solid 1px #f5f5f5}
.bar_box ul li:nth-child(3n){border-right:none}
.bar_box ul li>h3{font-size:14px;font-weight:700}
.bar_box ul li .help_serviceli{padding:0}
.bar_box ul li .help_serviceli em{display:block;width:91px;height:81px;float:left}
.bar_box ul li .help_serviceli em>img{display:block;margin:0 auto}
.bar_box ul li .help_serviceli span{display:block;width:160px;line-height:20px;font-size:12px;float:left;color:#9f9e9e;padding-top:15px}
.bar_box ul li>a{margin-top:22px;display:inline-block;width:86px;height:30px;line-height:30px;text-align:center;background-image:url(/p/images/button_btn.png);background-position:left center;background-repeat:no-repeat;font-size:12px;color:#3e3e3e;box-sizing:content-box}
.bar_box ul li>a:hover{color:#dd0b19}
.bar_box>.bar_title{height:70px;line-height:70px;background-color:#fff;border-bottom:solid 1px #f5f5f5;padding-left:30px;font-size:16px;font-weight:700;color:#333}
.bar_box .help_safe{padding:20px 30px}
.bar_box .help_safe dl dd{border-bottom:1px solid #e9e9e9;padding:25px 0;line-height:41px}
.bar_box .help_safe dl dd b{font-size:14px;display:block;width:80px;padding-left:55px;float:left}
.bar_box .help_safe dl dd:first-child>b{background-image:url(/p/images/help/sd1.png);background-repeat:no-repeat;background-position:left center}
.bar_box .help_safe dl dd:first-child+dd>b{background-image:url(/p/images/help/sd2.png);background-repeat:no-repeat;background-position:left center}
.bar_box .help_safe dl dd:first-child+dd+dd>b{background-image:url(/p/images/help/sd3.png);background-repeat:no-repeat;background-position:left center}
.bar_box .help_safe dl dd:first-child+dd+dd+dd>b{background-image:url(/p/images/help/sd4.png);background-repeat:no-repeat;background-position:left center}
.footer{background:#383b44 url(/p/images/bottom-heibai.jpg) center center no-repeat;background-size:cover;width:100%;min-width:1200px;border-bottom:1px #202020 solid}
.footerwrap{min-height:270px;padding-top:38px;width:1200px;margin:0 auto}
.footerwrap .layui-row .layui-col-md2 h3{color:#FC6;font-size:20px;font-weight:500;text-align:center;line-height:48px}
.footerwrap .layui-row .layui-col-md2l ul li{text-align:left;text-indent:2em}
.footerwrap .layui-row .layui-col-md2 ul li a{color:#fff;font-size:16px;line-height:42px}
.footerwrap .layui-row .layui-col-md2 ul li img{width:116px;height:116px}
.footerwrap .layui-row .layui-col-md2 ul li{text-align:center}
.bottom{min-width:1200px;background:#202020;border-top:1px solid #2c2c2c}
.bottomwrap{min-height:50px;width:1200px;margin:0 auto}
.bottomwrap p{font-size:14px;color:#eee;line-height:50px;text-align:center}